<% layout("/layouts/boilerplate") %>

<div class="row justify-content-center mt-5">
  <div class="alert alert-warning col-md-6 text-center" role="alert">
    <h4 class="alert-heading">Oops! Something went wrong.</h4>
    <p><%= message %></p>
    <hr>
    <a href="/" class="btn btn-dark mt-2">Go back Home</a>
  </div>
</div>
